.bganimate {
    animation: fade-in 30s linear infinite;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}

@keyframes fade-in {
    0% {
        background-image: url('../../resource/p6.jpg');
    }
    25% {
        background-image: url('../../resource/p12.jpg');
    }
    50% {
        background-image: url('../../resource/p9.jpg');
    }
    75% {
        background-image: url('../../resource/p10.jpg');
    }
    100% {
        background-image: url('../../resource/p11.avif');
    }
   
}
